<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="m-2">iRacing Dashboard</h1>
      <div class="color_samples">
        <div class="color_block" id="white">
          <p class="color_box_font">#f8f9fa</p>
        </div>
        <div class="color_block" id="gray_1">
          <p class="color_box_font">#e9ecef</p>
        </div>
        <div class="color_block" id="gray_2">
          <p class="color_box_font">#dee2e6</p>
        </div>
        <div class="color_block" id="gray_3">
          <p class="color_box_font">#ced4da</p>
        </div>
        <div class="color_block" id="gray_4">
          <p class="color_box_font">#adb5bd</p>
        </div>
        <div class="color_block" id="dark_grey_1">
          <p class="color_box_font">#6c757d</p>
        </div>
        <div class="color_block" id="dark_grey_2">
          <p class="color_box_font">#495057</p>
        </div>
        <div class="color_block" id="dark_grey_3">
          <p class="color_box_font">#343a40</p>
        </div>
        <div class="color_block" id="black">
          <p class="color_box_font">#212529</p>
        </div>
      </div>
      <div class="ms-2">
        <button type="button" class="mx-1 btn btn-primary" (click)="login()">
          Send Login Request
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="getRecentRaces()"
        >
          Get recent Races
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="main_display">
        <h3 class="title">Recent Races</h3>
        <p class="series">Race 1</p>
        <p class="series">Race 2</p>
      </section>
      <div *ngFor="let race of listRaces.races">
        <p>
          {{ race.series_name }} @ {{ race.track.track_name }}
          <button (click)="getRaceData(race.subsession_id)">Click</button>
        </p>
      </div>
    </div>
  </div>
</div>
