<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="m-2">iRacing Dashboard</h1>
      <div class="color_samples">
        <div class="color_block" id="f8f9fa"></div>
        <div class="color_block" id="e9ecef"></div>
        <div class="color_block" id="dee2e6"></div>
        <div class="color_block" id="ced4da"></div>
        <div class="color_block" id="adb5bd"></div>
        <div class="color_block" id="6c757d"></div>
        <div class="color_block" id="495057"></div>
        <div class="color_block" id="343a40"></div>
        <div class="color_block" id="212529"></div>
      </div>
      <div class="ms-2">
        <button type="button" class="mx-1 btn btn-primary" (click)="login()">
          Send Login Request
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="getRecentRaces()"
        >
          Get recent Races
        </button>
        <button
          type="button"
          class="mx-1 btn btn-primary"
          (click)="extractRaces()"
        >
          Extract Races
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="main_display">
        <h3 class="title">Recent Races</h3>
        <p class="series">Race 1</p>
        <p class="series">Race 2</p>
      </section>
    </div>
  </div>
</div>
